@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');

body {
  background: white;
  margin: 0;
  font-family: 'Manrope', sans-serif;
}

h1 {
    font-family: 'Manrope', sans-serif;
}

li { 
  list-style-type: none;
  margin: 15px 2vw;
  font-size: 14 pt;
}

a {
  text-decoration: none;
  color: white;
  padding: 1vw;
}

a:hover {
  background-color: teal;
}

nav {
  background-color: #4b3621;
  margin: 0;
  display: flex;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
}

body {
  margin: 0;
}

.about {
  background-image:  linear-gradient(to right, #f8dfc8 , white);
}

#feature {
  font-size: 42px;
  margin: 0;
}

.container {
  display: flex;
  align-items: top;
}

#brewPic {
  margin-left: 25px;
  width: 100%;
}

#icon {
  height: 40px;
  width: 40px;
  margin: 0;
  align-items: center;
  margin-left: auto;
}

#carouselSlides {
  width: 100%; 
  background-image:  linear-gradient(to top, #f8dfc8 , white);
}

#newCoffee {
  text-align: center;
  padding-top: 20px;
}

input[type=text] {
  padding: 10px;
  margin: 10px 0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border: 0;
  border-radius: 10px;
  width: 60%;
  font-family: inherit;
  font-size: 18px;
  text-align: center;
}

input[type=submit] {
  appearance: none;
  -webkit-appearance: none;
  padding: 10px;
  border: none;
  color: grey;
  font-weight: 600;
  border-radius: 5px;
  width: 40%;
  font-family:inherit;
  font-size: 18px;
}

#userNamePW {
    padding: 10px;
    margin: 10px 0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border: 0;
    border-radius: 10px;
    width: 60px;
    font-family: inherit;
    font-size: 12px;
    text-align: center;
}

#log {
    padding: 10px;
    margin: 10px 0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border: 0;
    border-radius: 10px;
    width: 60px;
    font-family: inherit;
    font-size: 12px;
    text-align: center;
    margin-right: 10px;
}

button[type=submit] {
  appearance: none;
  -webkit-appearance: none;
  padding: 10px;
  border: none;
  color: grey;
  font-weight: 600;
  border-radius: 5px;
  width: 20%;
  font-family:inherit;
  font-size: 18px; 
}

#myBrews {
  background-image:  linear-gradient(to top, #f8dfc8 , white);
}

.login-container {
  float: right;
}

input[type=password] {
  padding: 10px;
  margin: 10px 0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border: 0;
  border-radius: 10px;
  width: 60%;
  font-family: inherit;
  font-size: 18px;
  text-align: center;  
}

#instructions {
  text-align: center;
}

#createUser {
  text-align: center;
  border: 0;
}

#brews {
  display: grid;
  background-color: white;
}

.card {
  width: 300px;
  height: auto;
  background: teal;
  margin: 20px;
  display: grid;
  grid-template-rows: 100px 250px;
  text-align: center;
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 20px;
  row-gap: 20px;
  justify-content: space-around;
  align-content: center;
}

#delete {
  display: flex;
  padding: 10px;
  margin: 10px 0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border: 0;
  border-radius: 10px;
  width: 20%;
  font-family: inherit;
  font-size: 18px;
  text-align: center;
  background-color: darkgray;
  justify-content: center;
  position: absolute;
}


#edit {
  margin-top: 70%;
}

#deleteBrew {
  justify-content: center;
  width: 100%;
  font-size: 18px;
  margin-right: 25px;
  margin-left: 800px;
}

#subDel {
  width: 100px;
}